services:
  hyeok-blog:
    image: ${ACR_LOGIN_SERVER}/hyeok-blog:latest
    container_name: hyeok-blog
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    expose:
      - "3000"
    networks:
      - web

networks:
  web:
    external: true
